<!-- 2026-10-01 (decisión de Cristopher): se saca también el logo +
     descripción - quedaba feo con poco contenido alrededor. El pie queda
     solo con la franja azul de copyright. -->
<footer class="pie-pagina">

  <div class="pie-pagina__copyright-franja">
    <div class="pie-pagina__copyright contenedor">
      <p>
        &copy; {{ anioActual }} ANTURI MULTISERVICIOS&#174;.
        {{ 'pie.derechos' | translate }}.
      </p>
      <p class="pie-pagina__ubicacion">Quimbaya, Quindío</p>
    </div>
  </div>

</footer>
